<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>            
            <mimeMap fileExtension=".rom" mimeType="application/rom" />
            <mimeMap fileExtension=".tzx" mimeType="application/tzx" />
            <mimeMap fileExtension=".tap" mimeType="application/tap" />
			<mimeMap fileExtension=".szx" mimeType="application/szx" />
			<mimeMap fileExtension=".sna" mimeType="application/sna" />
			<mimeMap fileExtension=".z80" mimeType="application/z80" />
        </staticContent>
    </system.webServer>
</configuration>
